.button {
    display: flex;
    width: 50%;
}

.button a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    border-radius: 8px;
    border-bottom: solid 5px #1d7fde;
    margin: 0%;
    width: 50%;
    font-size: 43px;
}

.button a:hover {
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}