body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,table,tr,th,td,hr,div,
header,footer,nav,section,main,article,aside,figure{
    padding:0;
    margin:0;
}
#Result{
    height:100vw;
}
#shopResult {
    /* display:flex; */
    overflow-y:scroll;
    /* //キャプションを中央揃えに。 */
    text-align:center;
    height: 70vw;
    }
    /************************regist*******************/
#regist{
    height: 20vw;
}
.infoRegist{
    text-align:center;
    margin:0 auto;
}


.button {
    display: flex;
    width: 100%;
}
.button input{
    align-items: center;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 0%;
    width: 100%;
    
    position: relative;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 240px;
    /* display: flex; */
    /* font-weight: 600; */
    /* border-bottom: solid 5px #1d7fde; */
    /* font-size: 43px; */
    /* transition: 0.3s ease-in-out; */
}
.button a {
    align-items: center;
    padding: 10px 25px;
    color: #FFF;
    background: #6bb6ff;
    border-radius: 8px;
    margin: 0%;
    width: 100%;
    
    position: relative;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 240px;
    /* display: flex; */
    /* font-weight: 600; */
    /* border-bottom: solid 5px #1d7fde; */
    /* font-size: 43px; */
    /* transition: 0.3s ease-in-out;*/
} 

.button a:hover {
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}
#delete{
    background: red;
}